html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  background: rgb(58, 58, 58);
}

input {
  display: none;
}

main {
  display: flex;
  justify-content: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  height: 38.2rem;
  margin: 2.08rem auto;
}
.slider {
  position: relative;
  overflow: hidden;
  width: 33.2rem;
  height: inherit;
  background: rgb(58, 58, 58);
}
.slides {
  position: absolute;
  height: inherit;
  opacity: 0;
  z-index: 0;
  transform: translateX(0%);
  margin-left: 33.2rem;
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}
.cards {
  width: 33.2rem;
  height: 33.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 12rem;
  background-color: #fff;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgb(40, 40, 40);
  padding: 0.8rem;
  transition: 0.5s;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: brightness(110%);
}

.card-img {
  width: 10rem;
  height: 10rem;
  align-items: center;
}

.card-description {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 28px;
  width: 100%;
  height: 100%;
}

.texts {
  font-family: 'Roboto';
  font-size: 1.16rem;
  font-weight: 300;
  letter-spacing: 0.08rem;
  max-width: 33.2rem;
  color: wheat;
  z-index: 10;
  opacity: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.2rem;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
  opacity: 1;
  z-index: 1;
  transform: translateX(-100%);
}

.bullets {
  display: flex;
  justify-content: center;
  width: 33.2rem;
  height: 4rem;
  z-index: 1000;
}

.slider-container label {
  display: inline-block;
  position: relative;
  width: 0.62rem;
  height: 0.62rem;
  margin: 1.04rem 0.5rem 0 0.66rem;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.slider-container label:hover,
#slide1:checked ~ .bullets label:nth-of-type(1),
#slide2:checked ~ .bullets label:nth-of-type(2),
#slide3:checked ~ .bullets label:nth-of-type(3),
#slide4:checked ~ .bullets label:nth-of-type(4) {
  background: black;
  filter: brightness(200%);
}

.slider-container label::after {
  display: block;
  position: absolute;
  content: ' ';
  width: 0.5rem;
  height: 0.5rem;
  left: -0.12rem;
  top: -0.12rem;
  border: 0.16rem solid cadetblue;
  border-radius: 50%;
}
