html {
  box-sizing: border-box;
  overflow-y: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

a {
  font-family: "Forum";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  color: wheat;
}

a:hover {
  color: thistle;
}

body {
  position: relative;
  max-width: 800px;
  overflow-x: hidden;
  margin: 0 auto;
  background: rgb(58, 58, 58);
}

input {
  display: none;
}

main {
  display: flex;
  justify-content: center;
}

.slider-container {
  display: flex;
  height: 800px;
  margin: 50px auto;
  display: flex;
}

.slider {
  width: 800px;
  height: inherit;
  overflow-x: hidden;
  background: rgb(58, 58, 58);
}

.slides {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  z-index: 0;
  transform: translateX(0%);
  margin-left: 800px;
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

.texts {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
  max-width: 800px;
  color: wheat;
  z-index: 10;
  opacity: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
  opacity: 1;
  z-index: 1;
  transform: translateX(-100%);
}

.slider-container .bullets {
  position: absolute;
  top: 850px;
  z-index: 1000;
}

.slider-container label {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin: 25px 12px 0 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.slider-container label:hover,
#slide1:checked ~ .bullets label:nth-of-type(1),
#slide2:checked ~ .bullets label:nth-of-type(2),
#slide3:checked ~ .bullets label:nth-of-type(3),
#slide4:checked ~ .bullets label:nth-of-type(4) {
  background: black;
  filter: brightness(200%);
}

.slider-container label::after {
  display: block;
  position: absolute;
  content: " ";
  width: 12px;
  height: 12px;
  left: -3px;
  top: -3px;
  border: 4px solid cadetblue;
  border-radius: 50%;
}

footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 50%;
  align-items: flex-end;
}

@media (max-width: 768px) {
  html {
    overflow-y: hidden;
  }
  a {
    font-size: 32px;
  }
  .slider-container {
    width: 748px;
  }
  .slider-container label {
    width: 35px;
    height: 35px;
    margin: 35px 22px 0 16px;
  }
  .slider-container label::after {
    display: block;
    position: absolute;
    content: " ";
    width: 32px;
    height: 32px;
    left: -3px;
    top: -3px;
    border: 4px solid cadetblue;
    border-radius: 50%;
  }
  .img {
    width: 748px;
    height: 748px;
  }
  .bullets {
    margin-left: 20px;
  }
  .texts {
    margin-top: 75px;
    font-size: 38px;
    padding-right: 70px;
  }
  footer {
    max-width: 90%;
    margin-top: 100px;
  }
}
